.emailBox{
    display: flex;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 999px;
    align-items: center;
    width: 70%;
    position:relative;
    overflow: hidden;
}
.emailBox input{
    outline: none;
    border:none;
    margin-left: 1rem;
    font-size: 1rem;
    color: rgb(150,150,150);
    font-family: Josefin Sans;
    flex: 1;;
}
.getFunded{
    /* justify-content: end; */
    right:0.5rem;
    position: absolute;
    text-transform: capitalize;
    background-color: var( --secondary-color);
    padding: 1rem 1.5rem;
    /* height: 80%; */
    color:white;
    border-radius: 999px;
}